.perfil-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.perfil-imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.perfil-detalles {
    font-size: 18px;
    margin-bottom: 10px;
}
